<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Your Fantasy</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <% include ./commons/navbar %>
    <div class="container p-2 mt-3" style="margin-bottom: 400px;">
        <h1>새 작품 등록</h1>
        <hr>
        <article>
            <form action="/contents/new" method="post">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row text-center justify-content-center align-items-center">
                            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3"><span>작품명</span></div>
                            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9"><input class="form-control" type="text" name="novel_title"></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row text-center justify-content-center align-items-center">
                            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3"><span>카테고리 선택</span></div>
                            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9"><select class="form-select" name="category">
                                    <optgroup label="카테고리">
                                        <option value="fantasy" selected="">판타지</option>
                                        <option value="modern_fantasy">현판</option>
                                        <option value="romance">로맨스</option>
                                        <option value="wuxia">무협</option>
                                        <option value="novel">일반 문학</option>
                                        <option value="fusion_fantasy">퓨전 판타지</option>
                                        <option value="sports">스포츠</option>
                                        <option value="historical">역사</option>
                                        <option value="litenovel">라이트 노벨</option>
                                        <option value="game">게임</option>
                                        <option value="military">밀리터리</option>                                        
                                        <option value="sf">SF</option>
                                    </optgroup>
                                </select></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row text-center justify-content-center align-items-center">
                            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3"><span>작품 소개</span></div>
                            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9"><textarea class="form-control" name ="novel_introduce"></textarea></div>
                        </div>
                    </div>
                </div>
                <div class="mt-2"><button class="btn btn-primary float-end" type="submit">등록하기</button><button class="btn btn-secondary float-end" type="reset">새로고침</button></div>
            </form>
        </article>
    </div>
    <% include ./commons/footer %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    <script src="../assets/js/script.min.js"></script>
</body>

</html>