<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Your Fantasy</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <% include ./commons/navbar %>
    <% include ./commons/header %>
    <main class="mt-2">
        <div class="container d-xl-flex justify-content-xl-center">
            <div class="row d-inline flex-fill">
                <div class="col mb-2">
                    <p>제목</p>
                </div>
                <div class="col d-flex mb-2"><textarea class="flex-fill" style="height: 500px;" readonly=""></textarea></div>
                <div class="col d-inline-flex mb-2">
                    <h1 class="fs-5">작가의 말&nbsp;</h1><textarea class="flex-fill" readonly=""></textarea>
                </div>
                <div class="col mb-2">
                    <form>
                        <p>댓글 작성</p><textarea class="form-control"></textarea>
                        <div class="d-xl-flex justify-content-xl-end mt-2"><button class="btn btn-primary" type="button">Button</button></div>
                    </form>
                </div>
                <div class="col">
                    <p>댓글</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-1">닉네임</th>
                                    <th class="col-8">내용</th>
                                    <th class="col-1">작성 시간</th>
                                    <th class="col-1">추천 수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td><span class="me-2">0</span><button class="btn btn-primary" type="button">추천</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    <script src="../assets/js/script.min.js"></script>
</body>

</html>